.container-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  text-align: center;
  border: solid 2px #000;
  padding: 20px;
}

form {
  padding: 20px;
  text-align: left;
}

h1 {
  font-size: 70px;
  margin: 0;
}

p {
  font-size: 30px;
}

small {
  text-align: center;
  margin: 0 auto;
}

.weather-description-name {
  color: blue;
}

.current-icon {
  font-size: 50px;
  text-align: left;
}

.current-temp {
  text-align: right;
}

.icons {
  font-size: 30px;
}

.humidity {
  text-align: center;
}
