body {
  align: block;
  text-align: center;
  margin: 0 auto;
  max-width: 300;
  padding: 20;
}

form {
  padding: 20px;
  text-align: left;
}

h1 {
  font-size: 70px;
  margin: 0;
}

p {
  font-size: 30px;
}

.container {
  border: solid 2px #000;
  margin: 50px 200px;
}

.current-icon {
  font-size: 50px;
  text-align: left;
}

.current-temp {
  text-align: right;
}

.icons {
  font-size: 30px;
}
